.licenciaIDQ{
		text-align: center;
		
}
#tituloUP  { text-align: center; }

td.tempmax {
	color: #FF0130;
	font-weight:bold;
	text-align: center;
}
td.tempcold {
		color: #022CFF;
		font-weight:bold;
		text-align: center;
}

#cabecera{
	display: -moz-stack;
    margin: 0;
    width: 100%;

}


.formulariopuntos{
	display: inline-flex;
    margin: auto;
	
}



.portada{
	display:inline-block;
	margin:1%;
	padding:1%;
	border: 1px solid;
	
	
}
.btnportada{
	text-align:center;
	
}


.botonatras{
	
	text-align:right;
}



/* botones incrementar*/

/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/


label {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 5px 10px 0 0;
  width: 140px;
}
input[type=text] {
  float: left;
  width: 40px;
  font: bold 20px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
}
form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}
.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(../images/buttons.png) no-repeat;
}
.dec {
  background-position: 0 -29px;
}

.buttons {
  padding: 20px 0 0 140px;
}